*{
    background-color: black;
}
.contenedorCarrusel {
    padding-top: 50px;
    margin: 0 auto;
    overflow-x:  hidden;
    background-color: black;
    width: 800px;
    }

.fotos{
    width: 120px;
    height: 80px;
}

.divCarrusel {
    display: flex;
    cursor: grab;
    justify-content: center;
}

.item {
    height: 18rem;
    width: 450px;
    max-width: 80rem;
    padding: 2rem;
}

.item img {
    height: 15rem;
    width: 22rem;
    pointer-events: none;
}

img {
    height: 200px;
    width: 200px;
}

.contenedorVideos {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    background-color: yellow;
}

.video1 {
    margin: 5px;
    height: 60vh;
    width: 47vw;

}
.video2 {
    margin: 5px;
    height: 60vh;
    width: 47vw;
}
.video3 {
    margin: 5px;
    height: 60vh;
    width: 47vw;
}
.video4 {
    margin: 5px;
    height: 60vh;
    width: 47vw;
}

@media only screen and (max-width: 740px) {
    .contenedorVideos {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        width: 70%;
        
    }
    .item {
        height: 18rem;
        width: 450px;
        max-width: 80rem;
        padding: 2rem;
    }
    .contenedorCarrusel {
        padding-top: 50px;
        margin: 0 auto;
        overflow-x:  hidden;
        background-color: black;
        
        }
    .video1 {
        margin: 5px;
        height: 20vh;
        width: 80vw;
      
        
    
    }
    .video2 {
        margin: 5px;
        height: 20vh;
        width: 80vw;
    }
    .video3 {
        margin: 5px;
        height: 20vh;
        width: 80vw;
    }
    .video4 {
        margin: 5px;
        height: 20vh;
        width: 80vw;
    }
    
}